In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/SGRNJ06/randd/USER/zhouyiqi/work/repo/celescope_test_script/dynaseq/test1/05.replacement/test1_labeled_detail.txt', sep='\t')

In [5]:
df

                          Barcode           UMI              geneID  TC
0      GCCACATA_CCGTGAGA_GCCACATA  TACCGTCTTTTA  ENSMUSG00000025903   0
1      ATTGGCTC_CACCTTAC_ACAAGCTA  TGGCGATTGCGT  ENSMUSG00000033813   1
2      CGACACAC_ACGTATCA_GGTGCGAA  TACTGTCACTGG  ENSMUSG00000033813   2
3      TCCGTCTA_ACAGATTC_AAGGACAC  GACTCCTTTCGA  ENSMUSG00000033813   0
4      CTGAGCCA_CTAAGGTC_AATCCGTC  CGAGGCGATAAC  ENSMUSG00000033813   4
...                           ...           ...                 ...  ..
17463  GTGTTCTA_CACCTTAC_CGACACAC  GTATCTATTGCC  ENSMUSG00000096768   0
17464  GCCAAGAC_CAAGACTA_GATAGACA  AATCCAGCCCAA  ENSMUSG00000096768   1
17465  ATCATTCC_GTCGTAGA_CGCTGATC  CGTTGTATCCGG  ENSMUSG00000096768   0
17466  CGACTGGA_AGTGGTCA_GATGAATC  CTGCCTAGAAGC  ENSMUSG00000096768   0
17467  AGTCACTA_ACCACTGT_AATCCGTC  CCCACGGCCGTG  ENSMUSG00000096768   1

[17468 rows x 4 columns]

In [6]:
# 按 Barcode + UMI + geneID 分组，并计算每组的行数
count_df = df.groupby(['Barcode', 'UMI', 'geneID']).size().reset_index(name='Count')

In [11]:
len(count_df.Barcode.unique())

100

In [13]:
df.groupby(['Barcode', 'UMI']).size()

Barcode                     UMI
AAACATCG_AGGCTAAC_GATGAATC  AAACAGCCCTGG    1
                            AACCCCAGCAAC    1
                            AACCGACGCCTT    1
                            AAGCAGGTCTGG    1
                            AAGCGCGATAGT    1
                                           ..
TGGTGGTA_GGAGAACA_CAAGGAGC  TGGCGAAACTGT    1
                            TGTAACATGAGA    1
                            TGTGCAGTGGAC    1
                            TTGACATGGACG    1
                            TTTGGGGATCTG    1
Length: 17441, dtype: int64

In [16]:
from scipy.io import mmread
def get_sum(mtx_file):
    matrix = mmread(mtx_file)
    return matrix.sum()

In [17]:
get_sum('/SGRNJ06/randd/USER/zhouyiqi/work/repo/celescope_test_script/dynaseq/test1/05.replacement/labeled/matrix.mtx.gz')

5499

In [18]:
get_sum('/SGRNJ06/randd/USER/zhouyiqi/work/repo/celescope_test_script/dynaseq/test1/05.replacement/unlabeled/matrix.mtx.gz')

11969

In [19]:
5499+11969

17468

In [20]:
get_sum("/SGRNJ06/randd/USER/zhouyiqi/work/repo/celescope_test_script/dynaseq/test1/outs/filtered/matrix.mtx.gz")

17468

In [21]:
import pandas as pd

In [10]:
#df = pd.read_csv('/SGRNJ06/randd/USER/zhouyiqi/2024/scatac/human_PBMC/outs/snapatac2/A0111_6_PBMC.fragment.gz', sep='\t', header=None)
df = pd.read_csv('/SGRNJ06/randd/PROJECT/scATAC_scRNA_multiOmics/scATAC/20250612/Mus_lung_onestep_ATAC/outs/fragments_corrected_dedup_count.tsv.gz', sep='\t', header=None)
df

                       0        1        2             3  4
0                   chr1  3000302  3000374  CCGCTAATGTTA  1
1                   chr1  3000319  3000374  TTACCAGGGCTG  1
2                   chr1  3000660  3001222  TGTGATATAACA  2
3                   chr1  3000738  3000783  TCACGGAGGATC  2
4                   chr1  3000816  3001254  TAATACGTTGAG  1
...                  ...      ...      ...           ... ..
18954954  chrUn_JH584304   113282   113392  CCGCCTAGCTAA  2
18954955  chrUn_JH584304   113282   113398  CTTAGACGAGTA  1
18954956  chrUn_JH584304   113284   113332  CTCGATATTGAG  1
18954957  chrUn_JH584304   113284   113391  GCACCAGGTTGT  1
18954958  chrUn_JH584304   113284   113429  TATCGTTAGGCA  1

[18954959 rows x 5 columns]

In [11]:
total = df[4].sum()
total

26533733

In [15]:
mt = df[df[0] == 'chrM'][4].sum()
mt

284101

In [16]:
round(mt / total * 100, 2)

1.07

In [32]:
df = pd.read_csv('/SGRNJ06/randd/USER/cjj/celedev/atac/MAESTRO/test/20250710/scATAC_D_2_0704/outs/fragments_corrected_dedup_count.tsv.gz', sep='\t')

KeyError: '1.1'

In [33]:
df

                      chr1   10091   10151  CTAGCGCTCTGAAGAA  1
0                     chr1   10235   10279  GCTGGCTGTAGATGTT  1
1                     chr1   10356   10436  CCAGATTCTCCCGTAG  2
2                     chr1   10381   10450  GGTGAGAACGATGCAT  1
3                     chr1   10419   10502  CTGTGGACGGCTAGGA  1
4                     chr1   10512   10589  CACTACTACTGTGGTC  1
...                    ...     ...     ...               ... ..
20024977  chrUn_GL000218v1  158275  158869  ACTACGTAAGGTTACT  1
20024978  chrUn_GL000218v1  158519  158961  AGTAGAATATACTCAA  2
20024979  chrUn_GL000218v1  158841  159250  GCCTTTCCGGTGCGAG  1
20024980  chrUn_GL000218v1  159039  159241  GGTGGGTCGTAGAGCG  2
20024981  chrUn_GL000218v1  159420  159676  CTGCATTCTCCCCGAT  2

[20024982 rows x 5 columns]

In [ ]:
total = df['chr1'].sum()
mt = df[df['chr1'] == 'chrMT']['1'].sum()
mt / total * 100